<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8" />
    <title>SSO Client</title>
</head>
<body>

    <div style="text-align: center;margin-top: 100px;">
        <h1>用户名：【${microUser.username}】登录成功.</h1>

        <a href="${request.contextPath}/logout">退出</a>

    </div>

</body>
</html>